#!/usr/bin/env nextflow
/*
By Avery Davis Bell
Config for: strainspecsalmon.nf, workflow that runs emase
*/
conda.enabled = true // needed for newer nextflow versions

process{
  // all processes:
  executor = 'slurm' // running all jobs through submission; different queues, memory, etc
  // queue = 'inferno' // same for all jobs
  clusterOptions = '-A GT-apaaby3' // same account all jobs; careful if end up specifying more clusterOptions at once (currently it doesn't work to specify more clusterOptions at once)

  withName: mergeLaneFastqs{
    clusterOptions = '-A gts-apaaby3-biocluster --mem-per-cpu=1G -t10'
  }

  withName: trimmoIlluminaAdapters{
    clusterOptions = '-A gts-apaaby3-biocluster --mem-per-cpu=5G -t30 -N1 -n4'
  }

  withName: trimmoIlluminaAdaptersPE{
    clusterOptions = '-A gts-apaaby3-biocluster --mem-per-cpu=5G -t120 -N1 -n4'
  }

  withName: salmonquantSE{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3-biocluster --mem-per-cpu=4G -t120 -N1 -n4'
  }

  withName: salmonquantPE{
    module = 'anaconda3'
    clusterOptions = '-A gts-apaaby3-biocluster --mem-per-cpu=4G -t120 -N1 -n4'
  }
}
